# Don't upload Halo: Reach game content (anymore...)
*.bin
*.mvar

# ...unless it's custom and we're uploading it for demonstrative purposes.
!/other/*/*.bin
!/other/*/*.mvar

# Don't upload compiled/linked/etc. files
*.obj

# Don't upload the program's generated INI files
*.ini
*.ini.tmp
*.ini.bak

# Don't upload baked documentation files unless they're in the folder that actually ships with the program
/native/src/ReachVariantTool/docs/working - help docs/*/*.html
