# Don't upload Halo: Reach game content (anymore...)
*.bin
*.mvar

# Don't upload compiled/linked/etc. files
*.obj

# Don't upload the program's generated INI files
*.ini
*.ini.tmp
*.ini.bak

# Placeholder assets; do not upload:
**/Resources/gametype_icons/*.png
