html{
   --sidebar-back: #EEE;
   --line-height: 1.215em; /*take the firefox default for Calibri and make it explicit, so we can position other things relative to it*/
}
*{line-height:var(--line-height)} 

html{background:#888;margin:0;padding:0}
body{background:var(--sidebar-back);min-height:100vh;display:flex;flex-flow:row nowrap;max-width:1600px;margin:0 auto;padding:0}
   body>*{box-sizing:border-box;height:100vh;overflow-y:auto}
   #sidebar{width:25%;min-width:18em;padding:1rem;font-size:.875rem;flex:0 0 auto}
      #sidebar ul{margin:0;padding:0 0 0 1.5em}
         #sidebar li{list-style:none;position:relative}
            #sidebar li a{display:block;background:#FFF;padding:.25em .5em;text-decoration:none;border-radius:.2rem}
            #sidebar li a{text-overflow:ellipsis;overflow-x:hidden}
            #sidebar li a{margin:4px 0} /*spacing*/
            #sidebar li a.you-are-here{font-weight:bold}
         #sidebar li.collapsed ul{display:none}
      #sidebar>ul{list-style:none;margin:0;padding:0}
         #sidebar>ul>li{list-style:none}
            #sidebar .toggle{all:unset;position:absolute;right:100%;top:0;text-align:center;width:1.5ch;height:var(--line-height);padding:.25em 0;background:#CCC;color:#000;border-radius:.2rem 0 0 .2rem;cursor:default}
            #sidebar .toggle{margin:0} /* Edge doesn't understand "all:unset" */
               #sidebar .toggle::before{content:"-";cursor:default}
               #sidebar li.collapsed>.toggle::before{content:"+"}
            #sidebar .toggle+a{border-radius:0 .2rem .2rem 0}
      #sidebar ul hr{border:0;border-top:1px solid #BBB}
   main{background:#FFF;padding:1rem;flex:1 1 auto}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child{margin-top:0}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child{margin-bottom:0}

.header-permalink{margin-left:1em;font-size:1rem;font-weight:normal}
   .header-permalink::before{content:"🔗"}
.header-permalink{display:none}
*:hover>.header-permalink{display:inline}

/* yellow fade when jumping to a header (TODO: wrap sections in <section/> so we can fade the whole section and not just the header) */
@keyframes jump-to-section {
   0% {
      background:rgba(255, 255, 128, 0.5);
      box-shadow:0 0 6px 6px rgba(255, 255, 128, 0.5);
   }
   100% { background:transparent }
}
a:target{animation:jump-to-section 3s ease-in 1}

h2{border-bottom:1px solid #DDD}

body{font-family:Calibri,Verdana,sans-serif}
dl{}
   dt{font-weight:bold}
   dd{}
   *+dt{margin-top:1em}

main ul>li+li{margin-top:.5em}

code{background:#EEE}
pre{padding:.5em;background:#F4F4F4;border:1px solid #DDD}

a{text-decoration:none}
a:link{color:#03E}
a:visited{color:#938}
#sidebar a:link:hover{color:#36F}
#sidebar a:visited:hover{color:#B5A}